.book {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail {
    width: auto;
    height: auto;
}

.img {
    width: 25%;
    margin-right: 0;
    margin-left: 0;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.book-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}